<!DOCTYPE html>
<html lang="en">
<head>
<meta name="renderer" content="ie-comp">
<meta http-equiv="content-type" charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>贵州林业数据发布平台 - 森林资源</title>
<link rel="stylesheet" href="/public/style/skin.css">
</head>
<body>
    <div class="fore-sys-top clear">
		<div class="fore-sys-update clear"><span class="icon"></span>当前日期：2020/05/20</div>
		<div class="fore-sys-select topic-select">
			<div class="trigger" style="width:215px;">
				<span class="title" id="changeTitle">快速切换专题</span>
				<span class="icon"></span>
			</div>
			<div class="dropdown" style="width:185px;">
				<ul class="fir-list">
					<li>
						<a href="/">首页</a>
					</li>
					<li class="first">
						<a href="javascript:void(0);">基础资源</a>
						<ul class="sec-list" style="display:block;">
							<li><a href="/slzy">森林资源</a></li>
							<li><a href="/ldbhdj">林地保护等级</a></li>
							<li><a href="/desert/desertification">石漠化</a></li>
							<li><a href="/wetland">湿地</a></li>
							<li><a href="/tghl">可退耕资源</a></li>
						</ul>
					</li>
					<li>
						<a href="/gyl">公益林</a>
					</li>
					<li class="first">
						<a href="javascript:void(0);">营造林</a>
						<ul class="sec-list" style="display:block;">
							<li><a href="/afforestation">2015年造林情况</a></li>
							<li><a href="/zlghss">2020年造林绿化</a></li>
						</ul>
					</li>
					<li>
					</li>
					<li>
						<a href="/zjap">资金安排</a>
					</li>
					<li>
						<a href="/slfh">森林火灾</a>
					</li>
					<li class="first">
						<a href="javascript:void(0);">林业有害生物</a>
						<ul class="sec-list" style="display:block;">
							<li><a href="/pest/pest">发生防治</a></li>
							<li><a href="/quarantine">植物检疫</a></li>
						</ul>
					</li>
					<li>
						<a href="/slgh">森林管护</a>
					</li>
					<li>
						<a href="/stxx">自然保护</a>
					</li>
					<li>
						<a href="/mapgroup">林业图集</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="fore-sys-logo clear">
			<h2 class="logo"></h2><span class="label">决策支持</span>
		</div>
	</div>
    <%- body %>
    <script src="/public/script/jquery.min.js"></script>
    <script src="/public/script/core.js"></script>
</body>
</html>